@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

:root {
    --primary-color: #ff8000;
    --second-color: #a33f18;
    --third-color: #c51010;
    --text-color: #131416;
    --background-color: #fff;
    --sombra: 2px 2px 18px rgba(14 52 54 / 15%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Helvetica, sans-serif;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

img {
    width: 100%;
}

section {
    padding: 50px 100px;
}

.btn {
    padding: 10px 15px;
    font-size: 1rem;
    background: var(--primary-color);
    color: var(--background-color);
    border-radius: 7px;
    transition: .2s ease-in-out;
}

.btn:hover {
    background: var(--second-color);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 18px 100px;
}

nav.active {
    background: var(--background-color);
    border-bottom: 1px solid var(--third-color);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx {
    color: var(--primary-color);
    font-size: 24px;
}

.navegacao {
    display: flex;
    gap: 1rem;
}

.navegacao a {
    color: var(--primary-color);
    font-size: 1rem;
    position: relative;
    text-transform: uppercase;
}

.navegacao a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 0%;
    height: 2px;
    background: var(--second-color);
    transition: .2s ease-in-out;
}

.navegacao a:hover, .navegacao a.active {
    color: var(--second-color);
}

.navegacao a:hover::after, .navegacao a.active::after {
    width: 100%;
}

.navIcons {
    display: flex;
    gap: 1rem;
    font-size: 20px;
    align-items: center;
}

.navIcons .bx {
    cursor: pointer;
    padding: 7px;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.nav-icons .bx:hover {
    background: var(--second-color);
}

.bxs-cart-alt {
    position: relative;
}

.bxs-cart-alt span {
    position: absolute;
    top: -7px;
    right: -7px;
    background: crimson;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

#burgerMenu {
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

#burgerMenu:hover {
    color: var(--second-color);
}

.searchContent {
    position: absolute;
    width: 280px;
    top: 120%;
    right: -100%;
    box-shadow: var(--sombra);
    color: var(--primary-color);
}

.searchContent input {
    width: 100%;
    height: 50px;
    padding: 1rem;
    background: var(--background-color);
    color: var(--primary-color);
}

.searchContent.active {
    right: 1rem;
}

.home {
    width: 100%;
    min-height: 540px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1rem;
    background: rgb(247, 234, 210);
}

.home h1 {
    font-size: clamp(30px, 5vw, 60px);
    letter-spacing: 1px;
}

.home h1 span {
    color: var(--primary-color);
}

.home p {
    max-width: 80%;
    font-size: .9rem;
    margin: 1rem 0 2rem;
}

.home img {
    animation: animacao 3s linear infinite;
}

@keyframes animacao {
    0%, 100% {
        transform: translateY(-3.5rem);
    }
    50% {
        transform: translateY(1rem);
    }
}

.sobreNos {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
}

.sobreNosContent h2 {
    font-size: clamp(25px, 4vw, 35px);
}

.sobreNosContent p {
    font-size: .9rem;
    margin: 0.5rem 0 1rem;
}

.sobreNosContent .btn {
    display: inline-block;
    margin-top: 2rem;
}

.produtosTitle {
    text-align: center;
    margin-bottom: 2rem;
}

.produtosTitle h2 {
    font-size: clamp(20px, 4vw, 35px);
    text-transform: uppercase;
}

.produtosContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    gap: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

.produtosBox {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: var(--sombra);
}

.produtosBox img {
    border-radius: 7px;
    background: #e2e2e2;
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    transition: .2s ease-in-out;
}

.produtosBox:hover img {
    transform: scaleX(-1);
}

.produtosBox h3 {
    font-size: clamp(18px, 4vw, 22px);
}

.produtosBox span {
    color: var(--primary-color);
}

.produtosBox .bx {
    font-size: 1rem;
    color: var(--background-color);
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 7px 0 7px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.produtosBox .bx:hover {
    background: var(--second-color);
}

.reviewContainer {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
}

.reviewBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
    padding: 1rem;
    box-shadow: var(--sombra);
}

.reviewBox img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.reviewBox .estrelas .bx {
    color: orange;
}

.reviewBox h4 {
    font-size: clamp(15px, 4vw, 20px);
}

.reviewBox p {
    margin-top: 0.5rem;
    font-size: .9rem;
}

.reviewBox:hover {
    background: rgb(247, 234, 210);
}